.cartWrapper {
  padding: 20px;
}

.cartWrapper > .title {
  font-weight: 300;
  text-align: center;
}

.cartWrapper > .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.cartWrapper > .top > .topbutton {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
}

.cartWrapper > .top > .toptexts > .toptext {
  text-decoration: underline;
  cursor: pointer;
  margin: 0px 10px;
}

.cartWrapper > .bottom {
  display: flex;
  justify-content: space-between;
}

.cartWrapper > .bottom > .info {
  flex: 3;
}

.cartWrapper > .bottom > .info > .product {
  display: flex;
  justify-content: space-between;
}

.cartWrapper > .bottom > .info > .product > .productDetail {
  flex: 2;
  display: flex;
}

.cartWrapper .productDetail > img {
  width: 200px;
}

.cartWrapper .details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cartWrapper .productColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.cartWrapper > .bottom > .info > .product > .priceDetail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartWrapper .productAmountContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cartWrapper .productAmount {
  font-size: 24px;
  margin: 5px;
}

.cartWrapper .productPrice {
  font-size: 30px;
  font-weight: 200;
}

.cartWrapper .summary {
  flex: 1;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  height: 50vh;
}

.cartWrapper .summary .title {
  font-weight: 200;
}

.summaryItem {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.cartWrapper .summary > button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: 600;
}

hr {
  background-color: #eee;
  border: none;
  height: 1px;
}
