.productpage {
}

.ProductWrapper {
  padding: 50px;
  display: flex;
}

.ProductWrapper > .imageContainer {
  flex: 1;
}

.ProductWrapper > .imageContainer > img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.ProductWrapper > .infoContainer {
  flex: 1;
  padding: 0px 50px;
}

.ProductWrapper > .infoContainer > .title {
  font-weight: 200;
}

.ProductWrapper > .infoContainer > .desc {
  margin: 20px 0px;
}

.ProductWrapper > .infoContainer > .price {
  font-weight: 100;
  font-size: 40px;
}

.ProductWrapper > .infoContainer > .filterContainer {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 30px 0px;
}

.ProductWrapper > .infoContainer > .filterContainer > .filter {
  display: flex;
  align-items: center;
}

.ProductWrapper > .infoContainer > .filterContainer > .filter > .title {
  font-size: 20px;
  font-weight: 200;
}

.ProductWrapper > .infoContainer > .filterContainer > .filter > .filterColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 5px;
  cursor: pointer;
}

.ProductWrapper > .infoContainer > .filterContainer > .filter > .filterSize {
  margin-left: 10px;
  padding: 5px;
}

.AddContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.AmountContainer {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.AmountContainer > .amount {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid teal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.AddToCart {
  padding: 15px;
  border: 2px solid teal;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
}

.AddToCart:hover {
  background-color: teal;
  color: white;
}
