.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  /* background-color: coral; */
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 380px) {
    display: none;
  }
}

.arrow {
  width: 50px;
  height: 50px;
  background-color: #fff7f7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /*top0 bottom0 margin auto can make arrow center vertically*/
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}

.a1 {
  left: 10px;
}

.a2 {
  right: 10px;
}

.sliderWrapper {
  height: 100%;
  display: flex;
  transition: all 1s ease;
}

.slide {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.ImgContainer {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /*df aic jcc by me*/
}

.Image {
  height: 80%;
}

.InfoContainer {
  flex: 1;
  padding: 50px;
}

.InfoContainer > h1 {
  font-size: 70px;
}

.InfoContainer > p {
  margin: 50px 0px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.InfoContainer > button {
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}
